/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #dfe6ff; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #121068; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0b0a46; 
}

@font-face {
  font-family: 'Dongle';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("./fonts/Dongle/Dongle-Light.ttf")
}

@font-face {
  font-family: 'Dongle';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/Dongle/Dongle-Regular.ttf")
}

@font-face {
  font-family: 'Dongle';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./fonts/Dongle/Dongle-Bold.ttf")
}

/*
 * Global CSS
 */

* {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: white;

  border: 0;
	outline: 0;
}

body {
  margin: 0;
  font-family: 'Dongle', sans-serif;
  font-size: 16px;
  line-height: 1.25;
  background-image: url('~/assets/images/backgrounds/background.png');
  cursor: url('~/assets/images/cursor/paimonCursor3.png'), auto;
}

h1 {
  font-size: 7rem;
  line-height: 7rem;
}

h2 {
  font-size: 3.2rem;
  line-height: 2.2rem;
}

p,
input {
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 2.4rem;
}

input {
  font-family: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}
button {
  width: 12rem;
  height: 6rem;
  display: block;
  background-color: gray;
  color: white;
  border: none;
  outline: none;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

/* section {
  margin-bottom: 5rem;
} */
/* MARGIN AFTER EACH SECTION */

.under-nav {
  height: 9.5rem;
}
/* FIX MARGIN AFTER EACH SECTION */

.video-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 80%;
}
.background {
  width: 100%;
  height: calc(100vh - 9.5rem);
}