html,
body,
* {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: white;
}

h1 {
  font-size: 7rem;
  line-height: 7rem;
}

h2 {
  font-size: 3.2rem;
  line-height: 2.2rem;
}

p {
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 2.4rem;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

/* section {
  margin-bottom: 5rem;
} */
/* MARGIN AFTER EACH SECTION */

.under-nav {
  height: 9.5rem;
}
/* FIX MARGIN AFTER EACH SECTION */

.video-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 80%;
}
.background {
  width: 100%;
  height: calc(100vh - 9.5rem);
}
